@import './common';

main.faq{
  font-family: $os-b;  
  color: $sc;
  section{
    overflow-x: hidden;
    position: relative;
    padding: 5vh 0;
    h1{ 
      font-size: 40px; 
      &.mobile-only{ font-size: 35px; } 
    }
    h2.acc.mobile-only{ font-size: 25px; }
    transform: translateY(100px); opacity: 0;
    transition: transform .85s, opacity .85s;
    &.visible{
      transform: translateY(0px); opacity: 1;
    }
    &.section0{
      @extend %j-f-s;
      height: 55vh;
      background-color: #eaebe6;
      background-image: url(../img/hero-bg.png);
      background-repeat: no-repeat;
      background-position: calc(50% + 400px) 100%;
      background-size: 300px;
      transform: translateY(0px); opacity: 1;
      .container{
        @include media("<tab"){
          text-align: center;
        }
        transform: translateY(100px); opacity: 0;
        transition: all .5s;
        transition-delay: 1s;
        background: $tr;
      }
      &.visible-content{
        .container{
          transform: translateY(0px); opacity: 1;
        }
      }
      @include media("<tab"){
        padding-top: 15vh;
        height: 75vh;      
        overflow: hidden;
      }
      h1{ 
        font-size: 50px; 
        &.mobile-only{ 
          font-size: 35px; 
          margin: 20px 0;
        }
      }
      h4{ 
        font-size: 20px;
        font-family: $os-b; 
        margin-top: 45px;
        width: 70%;
        &.mobile-only{ 
          font-size: 35px; 
          width: 100%;
        }
      }
      button{ 
        &.mobile-only{ 
          margin: 25px 0;
        }
      }
      h5{ 
        &.mobile-only{ 
          font-size: 15px; 
        }
      }
    }

    &.section1{
      .container{        
        @include media("<tab"){
          padding: 0 35px;
        }
      }
      .nav-tabs{ 
        border-color: $tr;
        .nav-item{
          width: 315px;           
          @include media("<tab"){
            width: 50%;
          }
          .nav-link{
            font-size: 25px;
            @include media("<tab"){
              font-size: 18px;
            }
            line-height: 1.25;
            color: $txt-pr;
            border-bottom-color: rgba($txt-pr, .4);
          }
        }
        .nav-item.show .nav-link{
          border-color: $tr;
        }
        .nav-link.active, 
        .nav-link:hover,
        .nav-link:focus{
          color: $acc;
          border-color: $tr;
          border-bottom-color: $acc;
          border-bottom-width: 2px;
        }
      }
      .tab-content{
        margin-top: 50px;
        margin-bottom: 100px;
        text-align: left;
        .tab-pane.fade.show{ opacity: 1; }
        p{ 
          color: $txt-pr; font-family: $os-r; 
          @include media("<tab"){
            font-size: 14px;
          }
        }
        .heading{
          font-size: 25px; 
          padding: 30px 0; 
        }
        .ctn-qa{
          padding: 30px 0;
          border-top: 1px solid rgba($b, .2);
          .ctn-q{ 
            @extend %j-s-b;
            margin-bottom: 10px;
            align-items: flex-start;
            p{ 
              &.shown{
                color: $acc;
                font-family: $os-b; 
              }
              color: $acc;
              font-family: $os-r;
              font-size: 20px; 
              @include media("<tab"){
                font-size: 14px;
              }
            }
            .ctn-exp-icon{
              @extend %j-c;
              padding: 5px;
              transform: rotate(180deg);
              transition: transform .5s;
              height: 30px;
              width: 30px;
              &.shown{ transform: rotate(0deg); }
              img{ 
                height: 8px; 
                &.plus{ height: 16px; } 
              }
            }
          }
          p.sm{ font-size: 15px;}
        }
      }
    }

    &.section2{
      color: $w;
      background: url(../img/mesh.png);
      background-size: cover;
      p{ 
        margin-bottom: 30px;
        font-family: $os-sb;
        font-size: 30px;
        @include media("<tab"){
          font-size: 18px;
        }
      }
      button.btn-sec{ 
        margin-left: 15px;
      }
    }
  }
}